In [1]:
import os
import numpy as np
import pandas as pd
from datetime import datetime
import statsmodels
import dateutil

In [27]:
############  OD Data as a BASE Data
CD_ODDATA_LOT1 = pd.read_csv("/data_tvsc/APR10_DATA/OD_DATA.CSV")
CD_ODDATA_LOT1 = CD_ODDATA_LOT1.reset_index(drop=True)

In [28]:
CD_ODDATA_LOT1.columns

Index(['AGMTNO', 'INSTALMENT_DATE', 'CUTDATE', 'MOB', 'STATUS', 'STATUS_DATE',
       'CURRENT_DEMAND_MODE', 'OPENING_BUCKET', 'OPENING_PRINCIPAL',
       'OPENING_INTREST', 'OPENING_OVERDUE', 'CURRENT_DEMAND',
       'CURRENT_DEMAND_PRINCIPAL', 'CURRENT_DEMAND_INTREST',
       'ADJUSTMENT_OVERDUE_PRINCIPAL', 'ADJUSTMENT_OVERDUE_INTREST',
       'ADJUSTMENT_OVERDUE', 'ADJUSTMENT_DEMAND_PRINCIPAL',
       'ADJUSTMENT_DEMAND_INTREST', 'ADJUSTMENT_DEMAND', 'OPENING_EXCESS',
       'OVERALL_COLLECTION', 'CLOSING_PRINCIPAL', 'CLOSING_INTREST',
       'CLOSING_OVERDUE', 'CLOSING_BUCKET', 'FUTURE_PRINCIPAL',
       'FUTURE_INTREST', 'NON_STARTER', 'TENOR_COMPLETED', 'OVERDUE_CATEGORY',
       'CLOSING_EXCESS', 'SUB_STATUS', 'OPENING_STATUS', 'SEIZURE_DATE',
       'SEIZURE_MOB', 'DPD', 'COLLECTION_CATG', 'ALLOCATION_CODE',
       'ALLOCATION_TO'],
      dtype='object')

In [29]:
pd.set_option('display.max_columns', 500)

In [30]:
print(CD_ODDATA_LOT1.shape)
print(CD_ODDATA_LOT1.AGMTNO.nunique())
print('------------------------------')
# print(CD_ODDATA_LOT2.shape)
# print(CD_ODDATA_LOT2.AGMTNO.nunique())

(1164914, 40)
185182
------------------------------

In [31]:
# OD_DATA = pd.concat([CD_ODDATA_LOT1,CD_ODDATA_LOT2],axis=0)
# print(OD_DATA.shape)
OD_DATA = CD_ODDATA_LOT1

In [32]:
OD_DATA.head(5)

,AGMTNO,INSTALMENT_DATE,CUTDATE,MOB,STATUS,STATUS_DATE,CURRENT_DEMAND_MODE,OPENING_BUCKET,OPENING_PRINCIPAL,OPENING_INTREST,OPENING_OVERDUE,CURRENT_DEMAND,CURRENT_DEMAND_PRINCIPAL,CURRENT_DEMAND_INTREST,ADJUSTMENT_OVERDUE_PRINCIPAL,ADJUSTMENT_OVERDUE_INTREST,ADJUSTMENT_OVERDUE,ADJUSTMENT_DEMAND_PRINCIPAL,ADJUSTMENT_DEMAND_INTREST,ADJUSTMENT_DEMAND,OPENING_EXCESS,OVERALL_COLLECTION,CLOSING_PRINCIPAL,CLOSING_INTREST,CLOSING_OVERDUE,CLOSING_BUCKET,FUTURE_PRINCIPAL,FUTURE_INTREST,NON_STARTER,TENOR_COMPLETED,OVERDUE_CATEGORY,CLOSING_EXCESS,SUB_STATUS,OPENING_STATUS,SEIZURE_DATE,SEIZURE_MOB,DPD,COLLECTION_CATG,ALLOCATION_CODE,ALLOCATION_TO
0,PY3001CD0000934,2018-04-07 00:00:00,2018-04-30 00:00:00,1,L,NaN,DRE,0,0.0,0.0,0.0,1317.0,1315.21,1.79,0.0,0.0,0.0,1315.21,1.79,1317.0,0.0,1317.0,0.0,0.0,0.0,0,22373.79,15.21,N,N,,0.0,NaN,L,NaN,NaN,0,DEMAND,NaN,UN ALLOCATED
1,PY3001CD0000921,2018-04-07 00:00:00,2018-04-30 00:00:00,1,L,NaN,DRE,0,0.0,0.0,0.0,2870.0,2869.71,0.29,0.0,0.0,0.0,2869.71,0.29,2870.0,0.0,2870.0,0.0,0.0,0.0,0,25828.74,1.26,N,N,,0.0,NaN,L,NaN,NaN,0,DEMAND,NaN,UN ALLOCATED
2,TN3006CD0000949,2018-04-07 00:00:00,2018-04-30 00:00:00,3,L,NaN,ECS,0,0.0,0.0,0.0,1350.0,1349.89,0.11,0.0,0.0,0.0,1349.89,0.11,1350.0,0.0,1350.0,0.0,0.0,0.0,0,9449.63,0.37,,N,,0.0,NaN,L,NaN,NaN,0,NaN,NaN,NaN
3,TN3006CD0000951,2018-04-07 00:00:00,2018-04-30 00:00:00,3,L,NaN,ECS,0,0.0,0.0,0.0,2390.0,2389.81,0.19,0.0,0.0,0.0,2389.81,0.19,2390.0,0.0,2390.0,0.0,0.0,0.0,0,16729.33,0.67,,N,,0.0,NaN,L,NaN,NaN,0,NaN,NaN,NaN
4,TN3006CD0000439,2018-04-07 00:00:00,2018-04-30 00:00:00,4,L,NaN,ECS,0,0.0,0.0,0.0,1840.0,1839.87,0.13,0.0,0.0,0.0,1839.87,0.13,1840.0,0.0,1840.0,0.0,0.0,0.0,0,11039.61,0.39,,N,,0.0,NaN,L,NaN,NaN,0,NaN,NaN,NaN

In [33]:
OD_DATA=pd.DataFrame(OD_DATA[['AGMTNO','INSTALMENT_DATE','CUTDATE', 'DPD','MOB','TENOR_COMPLETED']])

In [34]:
OD_DATA['AGMTNO'] = OD_DATA['AGMTNO'].astype(str).apply(lambda x:  x[2:])
OD_DATA = OD_DATA.rename(columns={'AGMTNO': 'PROSPECTID'})

In [35]:
OD_DATA['CUTDATE']=pd.to_datetime(OD_DATA['CUTDATE'])

In [36]:
OD_DATA['INSTALMENT_DATE']=pd.to_datetime(OD_DATA['INSTALMENT_DATE'])

In [37]:
OD_DATA.head()

      PROSPECTID INSTALMENT_DATE    CUTDATE  DPD  MOB TENOR_COMPLETED
0  3001CD0000934      2018-04-07 2018-04-30    0    1               N
1  3001CD0000921      2018-04-07 2018-04-30    0    1               N
2  3006CD0000949      2018-04-07 2018-04-30    0    3               N
3  3006CD0000951      2018-04-07 2018-04-30    0    3               N
4  3006CD0000439      2018-04-07 2018-04-30    0    4               N

In [38]:
OD_DATA = OD_DATA.sort_values(by = ['PROSPECTID','CUTDATE','MOB'])
OD_DATA = OD_DATA.reset_index()
del OD_DATA['index']

In [39]:
print('Min Closed Date:',min(OD_DATA.CUTDATE))
print('Max Closed Date**:',max(OD_DATA.CUTDATE))

Min Closed Date: 2017-12-31 00:00:00
Max Closed Date**: 2019-02-28 00:00:00

In [15]:
OD_DATA.head(50)

       PROSPECTID INSTALMENT_DATE    CUTDATE  DPD  MOB TENOR_COMPLETED
0   3000CD0036234      2018-12-07 2018-12-31    0    1               N
1   3000CD0036234      2019-01-07 2019-01-31    0    2               N
2   3000CD0036234      2019-02-07 2019-02-28    0    3               N
3   3000CD0036234      2019-03-07 2019-03-31    0    4               N
4   3000CD0036234      2019-04-07 2019-04-30    0    5               N
5   3000CD0039071      2018-11-07 2018-11-30    0    1               N
6   3000CD0039071      2018-12-07 2018-12-31    0    2               N
7   3000CD0039071      2019-01-07 2019-01-31    0    3               N
8   3000CD0039071      2019-02-07 2019-02-28    0    4               N
9   3000CD0039071      2019-03-07 2019-03-31    0    5               N
10  3000CD0039071      2019-04-07 2019-04-30    0    6               N
11  3000CD0039144      2018-11-07 2018-11-30    0    1               N
12  3000CD0039144      2018-12-07 2018-12-31    0    2               N
13  3000CD0039144      2019-01-07 2019-01-31    0    3               N
14  3000CD0039144      2019-02-07 2019-02-28    0    4               N
15  3000CD0039144      2019-03-07 2019-03-31    0    5               N
16  3000CD0039144      2019-04-07 2019-04-30    0    6               N
17  3000CD0039194      2018-11-07 2018-11-30    0    1               N
18  3000CD0039194      2018-12-07 2018-12-31    0    2               N
19  3000CD0039194      2019-01-07 2019-01-31    0    3               N
20  3000CD0039194      2019-02-07 2019-02-28    0    4               N
21  3000CD0039194      2019-03-07 2019-03-31    0    5               N
22  3000CD0039194      2019-04-07 2019-04-30    0    6               N
23  3000CD0040053      2018-11-07 2018-11-30    0    1               N
24  3000CD0040053      2018-12-07 2018-12-31    0    2               N
25  3000CD0040053      2019-01-07 2019-01-31   24    3               N
26  3000CD0040053      2019-02-07 2019-02-28   21    4               N
27  3000CD0040053      2019-03-07 2019-03-31   24    5               N
28  3000CD0040053      2019-04-07 2019-04-30   23    6               N
29  3000CD0040548      2018-11-07 2018-11-30    0    1               N
30  3000CD0040548      2018-12-07 2018-12-31    0    2               N
31  3000CD0040548      2019-01-07 2019-01-31    0    3               N
32  3000CD0040548      2019-02-07 2019-02-28    0    4               N
33  3000CD0040548      2019-03-07 2019-03-31    0    5               N
34  3000CD0040548      2019-04-07 2019-04-30    0    6               N
35  3000CD0040617      2018-11-07 2018-11-30    0    1               N
36  3000CD0040617      2018-12-07 2018-12-31    0    2               N
37  3000CD0040617      2019-01-07 2019-01-31    0    3               N
38  3000CD0040617      2019-02-07 2019-02-28    0    4               N
39  3000CD0040617      2019-03-07 2019-03-31    0    5               N
40  3000CD0040822      2018-11-07 2018-11-30   23    1               N
41  3000CD0040822      2018-12-07 2018-12-31   54    2               N
42  3000CD0040822      2019-01-07 2019-01-31   55    3               N
43  3000CD0040822      2019-02-07 2019-02-28   83    4               N
44  3000CD0040822      2019-03-07 2019-03-31  114    5               N
45  3000CD0040822      2019-04-07 2019-04-30  144    6               N
46  3000CD0040889      2018-11-07 2018-11-30    0    1               N
47  3000CD0040889      2018-12-07 2018-12-31    0    2               N
48  3000CD0040889      2019-01-07 2019-01-31    0    3               N
49  3000CD0040889      2019-02-07 2019-02-28    0    4               N

In [40]:
OD_DATA.shape

(1164914, 6)

In [41]:
OD_DATA = OD_DATA[OD_DATA['TENOR_COMPLETED'] == 'N']

In [42]:
print('Min Closed Date:',min(OD_DATA.CUTDATE))
print('Max Closed Date**:',max(OD_DATA.CUTDATE))

Min Closed Date: 2017-12-31 00:00:00
Max Closed Date**: 2019-02-28 00:00:00

In [19]:
OD_DATA.shape

(972846, 6)

In [ ]:
# DISB_DATA['ORIG_DATE'] =DISB_DATA['DISBDATE'].astype(str)
# DISB_DATA['y'] = pd.DataFrame(DISB_DATA['ORIG_DATE'].apply(lambda x:  x[6:10]))
# DISB_DATA['m'] = pd.DataFrame(DISB_DATA['ORIG_DATE'].apply(lambda x:  x[3:5]))
# DISB_DATA['ORIGINATION_DATE'] = DISB_DATA['y'] +  "_" + DISB_DATA['m']
# del DISB_DATA['y']
# del DISB_DATA['m']

In [ ]:
########   Deriving Orig Date using CUTDATE
#ORIG_DATA = OD_DATA.drop_duplicates(subset='PROSPECTID', inplace=False)
#ORIG_DATA['ORIG_DATE']=ORIG_DATA['CUTDATE'].apply(lambda x:x+dateutil.relativedelta.relativedelta(months=-1))
#ORIG_DATA.head(10)

In [43]:
############  To Pull DISBURSAL Date for origination Date
DISB_DATA = pd.read_csv("/data_tvsc/APR10_DATA/VS_LOS_TBL_PERSONAL_DETAILS.csv")
DISB_DATA=pd.DataFrame(DISB_DATA[['PROSPECTID','DISBDATE']])
DISB_DATA = DISB_DATA.drop_duplicates(subset='PROSPECTID', inplace=False)
DISB_DATA.head(5)

      PROSPECTID    DISBDATE
0  3078CD0004450  26/02/2018
1  3078CD0004016  26/02/2018
2  3054CD0003543  26/02/2018
3  3000CD0003431  26/02/2018
4  3006CD0001457  26/02/2018

In [44]:
DISB_DATA['ORIG_DATE'] =DISB_DATA['DISBDATE'].astype(str)
DISB_DATA['y'] = pd.DataFrame(DISB_DATA['ORIG_DATE'].apply(lambda x:  x[6:10]))
DISB_DATA['m'] = pd.DataFrame(DISB_DATA['ORIG_DATE'].apply(lambda x:  x[3:5]))
DISB_DATA['ORIGINATION_DATE'] = DISB_DATA['y'] +  "_" + DISB_DATA['m']
del DISB_DATA['y']
del DISB_DATA['m']

In [45]:
DISB_DATA.dtypes

PROSPECTID          object
DISBDATE            object
ORIG_DATE           object
ORIGINATION_DATE    object
dtype: object

In [46]:
del DISB_DATA['DISBDATE']
DISB_DATA.head(5)

      PROSPECTID   ORIG_DATE ORIGINATION_DATE
0  3078CD0004450  26/02/2018          2018_02
1  3078CD0004016  26/02/2018          2018_02
2  3054CD0003543  26/02/2018          2018_02
3  3000CD0003431  26/02/2018          2018_02
4  3006CD0001457  26/02/2018          2018_02

In [24]:
ORIG_DATA = DISB_DATA

In [47]:
###   Origination Distribution by Months
table1 = pd.pivot_table(DISB_DATA, index=['ORIGINATION_DATE'], values='PROSPECTID',aggfunc=len)
print('Table By Origination Month: ',table1)

Table By Origination Month:                    PROSPECTID
ORIGINATION_DATE
2017_10                    4
2017_11                  508
2017_12                 1943
2018_01                 2970
2018_02                 3771
2018_03                 5752
2018_04                10124
2018_05                14470
2018_06                21267
2018_07                30766
2018_08                43412
2018_09                50229

In [ ]:
print('disbursal data')
DISB_DATA.PROSPECTID.nunique()

In [ ]:
print('OD Data')
OD_DATA.PROSPECTID.nunique()

In [ ]:
###  OD Data have 185182 ID's but Dsib data 185216 ID's

In [ ]:
#######   Joining tables to get  Origination Date 
ORIG_DATA=pd.DataFrame(ORIG_DATA[['PROSPECTID','ORIGINATION_DATE']])
OD_DATA = pd.merge(OD_DATA, ORIG_DATA, on=['PROSPECTID'], how='left')

In [ ]:
OD_DATA.head(5)

In [ ]:
#IPA_DATA[IPA_DATA['PROSPECTID'] == '3000CD0000015']
#REP
OD_DATA['MOB'].value_counts()

In [ ]:
#####  This Table has Bounce reason column
REP_DATA = pd.read_csv("/data_tvsc/APR10_DATA/REPAYMENT_DATA.CSV")
REP_DATA = REP_DATA.reset_index(drop=True)
REP_DATA=pd.DataFrame(REP_DATA[['AGMTNO','CURRENT_DEMAND_STATUS','BOUNCE_REASON','CUTDATE','MOB']])
REP_DATA['AGMTNO'] = REP_DATA['AGMTNO'].astype(str).apply(lambda x:  x[2:])
REP_DATA = REP_DATA.rename(columns={'AGMTNO': 'PROSPECTID'})
REP_DATA['CUTDATE']=pd.to_datetime(REP_DATA['CUTDATE'])
REP_DATA = REP_DATA.sort_values(by = ['PROSPECTID','CUTDATE'],ascending = [True,True])
REP_DATA = REP_DATA.reset_index()
del REP_DATA['index']

In [ ]:
REP_DATA.shape

In [ ]:
# REP_DATA1 = REP_DATA
# del REP_DATA

In [ ]:
# REP_DATA = pd.read_csv("/home/avik/TVSC_Apr24/CD_REPAYMENT_LOT2.CSV")
# REP_DATA=pd.DataFrame(REP_DATA[['AGMTNO','CURRENT_DEMAND_STATUS','BOUNCE_REASON','CUTDATE','MOB']])
# REP_DATA['AGMTNO'] = REP_DATA['AGMTNO'].astype(str).apply(lambda x:  x[2:])
# REP_DATA = REP_DATA.rename(columns={'AGMTNO': 'PROSPECTID'})
# REP_DATA['CUTDATE']=pd.to_datetime(REP_DATA['CUTDATE'])
# REP_DATA = REP_DATA.sort_values(by = ['PROSPECTID','CUTDATE'],ascending = [True,True])
# REP_DATA = REP_DATA.reset_index()
# del REP_DATA['index']
print(REP_DATA.PROSPECTID.nunique())

In [ ]:
REP_DATA.shape

In [ ]:
# REP_DATA2 = REP_DATA
# del REP_DATA

In [ ]:
# REP_DATA = pd.concat([REP_DATA1,REP_DATA2],axis=0)
# print(OD_DATA.shape)

In [ ]:
REP_DATA.head(10)

In [ ]:
del REP_DATA['CURRENT_DEMAND_STATUS']

In [ ]:
print('Min Closed Date:',min(REP_DATA.CUTDATE))
print('Max Closed Date**:',max(REP_DATA.CUTDATE))

In [ ]:
OD_IPA_data = OD_DATA

In [ ]:
#######   Joining tables to get  Bounce Reason Column
OD_IPA_REP_DATA = pd.merge(OD_IPA_data, REP_DATA, on=['PROSPECTID','CUTDATE','MOB'], how='left')
OD_IPA_REP_DATA = OD_IPA_REP_DATA.sort_values(by = ['PROSPECTID','CUTDATE'],ascending = [True,True])

In [ ]:
OD_IPA_REP_DATA.head(10)

In [ ]:
####### Creating 3 lag columns for DPD variable to see next 3 months performance
OD_IPA_REP_DATA['lag_1'] = OD_IPA_REP_DATA['DPD']
OD_IPA_REP_DATA['lag_2'] = OD_IPA_REP_DATA.groupby(['PROSPECTID'])['DPD'].shift(-1)
OD_IPA_REP_DATA['lag_3'] = OD_IPA_REP_DATA.groupby(['PROSPECTID'])['DPD'].shift(-2)
OD_IPA_REP_DATA['lag_4'] = OD_IPA_REP_DATA.groupby(['PROSPECTID'])['DPD'].shift(-3)

In [ ]:
OD_IPA_REP_DATA.head(10)

In [ ]:
#########   For Tenor and ADVEMITENOR
IPA_DATA = pd.read_csv("/data_tvsc/APR10_DATA/VS_LOS_TBL_POST_IPA.csv")

In [ ]:
IPA_DATA.shape

In [ ]:
IPA_DATA.head()

In [ ]:
IPA_DATA=pd.DataFrame(IPA_DATA[['PROSPECTID','TENOR','ADVEMITENOR']])
IPA_DATA.head(5)

In [ ]:
#####   Joinning Table to get Tenor and ADVEMITENOR
OD_IPA_REP_DATA = pd.merge(OD_IPA_REP_DATA, IPA_DATA, on=['PROSPECTID'], how='left')

In [ ]:
OD_IPA_REP_DATA = OD_IPA_REP_DATA.sort_values(by = ['PROSPECTID','CUTDATE','MOB'],ascending = [True,True,True])

In [ ]:
FINAL_DF_DATA = OD_IPA_REP_DATA

In [ ]:
#####    Creating Bounce Flag using Bounce Reasons
import re
target_list = ['FUNDS INSUFFICIENT','REFER TO DRAWER','NOT ARRANGED FOR','ACCOUNT FREEZED','ACCOUNT CLOSED','Non Home Debit -Inoperative A/c','EXCEEDS ARRANGEMENT','DORMANT A/C','NO SUCH ACCOUNT','MINOR A/C','ACCOUNT STOPPED','PAYMENT STOP BY DRAWER','Signature Mismatch']
              
FINAL_DF_DATA.BOUNCE_REASON.fillna('nan',inplace=True)
FINAL_DF_DATA["BOUNCE_FLAG"] = FINAL_DF_DATA['BOUNCE_REASON'].apply(lambda x:0 if len(re.findall(r"(?=("+'|'.join(target_list)+r"))",x))==0 else 1)
FINAL_DF_DATA['blag_1'] = FINAL_DF_DATA['BOUNCE_FLAG']
FINAL_DF_DATA['blag_2'] = FINAL_DF_DATA.groupby(['PROSPECTID'])['BOUNCE_FLAG'].shift(-1)
FINAL_DF_DATA['blag_3'] = FINAL_DF_DATA.groupby(['PROSPECTID'])['BOUNCE_FLAG'].shift(-2)
FINAL_DF_DATA['blag_4'] = FINAL_DF_DATA.groupby(['PROSPECTID'])['BOUNCE_FLAG'].shift(-3)

In [ ]:
#####    Creating Bounce Flag using Bounce Reasons "BOU"
#FINAL_DF_DATA['BOU_STATUS']  =np.where(FINAL_DF_DATA['CURRENT_DEMAND_STATUS']=='BOU',1,0)

In [ ]:
#######   Lag of Bounce FLAG
#FINAL_DF_DATA['bslag_1'] = FINAL_DF_DATA['BOU_STATUS']
#FINAL_DF_DATA['bslag_2'] = FINAL_DF_DATA.groupby(['PROSPECTID'])['BOU_STATUS'].shift(-1)
#FINAL_DF_DATA['bslag_3'] = FINAL_DF_DATA.groupby(['PROSPECTID'])['BOU_STATUS'].shift(-2)

In [ ]:
####   Creating Bad Flag for first 3 months
FINAL_DF_DATA['30_DPD_F3M'] = np.where((FINAL_DF_DATA.lag_1 > 30)  | ((FINAL_DF_DATA.lag_2) > 30)  | ((FINAL_DF_DATA.lag_3) > 30) , 1, 0)
# FINAL_DF_DATA['60+DPD_F3M'] = np.where((FINAL_DF_DATA.lag_1 > 60)  | ((FINAL_DF_DATA.lag_2) > 60)  | ((FINAL_DF_DATA.lag_3) > 60) , 1, 0)
# FINAL_DF_DATA['90+DPD_F3M'] = np.where((FINAL_DF_DATA.lag_1 > 90)  | ((FINAL_DF_DATA.lag_2) > 90)  | ((FINAL_DF_DATA.lag_3) > 90) , 1, 0)
FINAL_DF_DATA['BOUNCE_F3M'] = np.where((FINAL_DF_DATA.blag_1 == 1) | ((FINAL_DF_DATA.blag_2) == 1) | ((FINAL_DF_DATA.blag_3) == 1) , 1, 0)
#FINAL_DF_DATA['BOU_STATUS+'] = np.where((FINAL_DF_DATA.bslag_1 == 1) | ((FINAL_DF_DATA.bslag_2) == 1) | ((FINAL_DF_DATA.bslag_3) == 1) , 1, 0)

In [ ]:
####   Creating Bad Flag for first 4 months
# FINAL_DF_DATA['30_DPD_F4M'] = np.where((FINAL_DF_DATA.lag_1 > 30)  | ((FINAL_DF_DATA.lag_2) > 30)  | ((FINAL_DF_DATA.lag_3) > 30)  | ((FINAL_DF_DATA.lag_4) > 30) , 1, 0)
# FINAL_DF_DATA['60+DPD_F4M'] = np.where((FINAL_DF_DATA.lag_1 > 60)  | ((FINAL_DF_DATA.lag_2) > 60)  | ((FINAL_DF_DATA.lag_3) > 60)  | ((FINAL_DF_DATA.lag_4) > 60) , 1, 0)
# FINAL_DF_DATA['90+DPD_F4M'] = np.where((FINAL_DF_DATA.lag_1 > 90)  | ((FINAL_DF_DATA.lag_2) > 90)  | ((FINAL_DF_DATA.lag_3) > 90)  | ((FINAL_DF_DATA.lag_4) > 90) , 1, 0)
# FINAL_DF_DATA['BOUNCE_F4M'] = np.where((FINAL_DF_DATA.blag_1 == 1) | ((FINAL_DF_DATA.blag_2) == 1) | ((FINAL_DF_DATA.blag_3) == 1) | ((FINAL_DF_DATA.blag_4) == 1) , 1, 0)
#FINAL_DF_DATA['BOU_STATUS+'] = np.where((FINAL_DF_DATA.bslag_1 == 1) | ((FINAL_DF_DATA.bslag_2) == 1) | ((FINAL_DF_DATA.bslag_3) == 1) , 1, 0)

In [ ]:
FINAL_DF_DATA_2 = FINAL_DF_DATA
FINAL_DF_DATA_2 = FINAL_DF_DATA_2.sort_values(by = ['PROSPECTID','CUTDATE'],ascending = [True,True])

In [ ]:
FINAL_DF_DATA_2.head(5)

In [ ]:
#FOR over All bad rate
OVERALL_BAD_RATE_TABLE = FINAL_DF_DATA_2.drop_duplicates(subset='PROSPECTID', inplace=False)
OVERALL_BAD_RATE_TABLE.head(5)

In [ ]:
FINAL_DF_DATA_2.shape

In [ ]:
OVERALL_BAD_RATE_TABLE.to_csv("APR10_DATA_DATA_BAD_RATE.csv")

In [ ]:
OVERALL_BAD_RATE_TABLE.shape

In [ ]:
#################   To check working diectory
# pwd

In [ ]:
#########  Bad in first 3 months
table = pd.pivot_table(OVERALL_BAD_RATE_TABLE, values=['30_DPD_F3M','BOUNCE_F3M'], index=['ORIGINATION_DATE'],aggfunc=np.sum)
table1 = pd.pivot_table(OVERALL_BAD_RATE_TABLE, index=['ORIGINATION_DATE'], values='PROSPECTID',aggfunc=len)
Bad_Rate_Table = pd.concat([table1,table],axis=1)
Bad_Rate_Table = Bad_Rate_Table.reset_index()
del table
del table1

In [ ]:
Bad_Rate_Table.head(5)

In [ ]:
# OVERALL_BAD_RATE_TABLE.to_csv("/home/shamim/shamim_tvs/Feb_BadRateTable_4_Months_Data.csv")

In [ ]:
#########  Bad in first 4 months
# table = pd.pivot_table(OVERALL_BAD_RATE_TABLE, values=['30+DPD_F4M', '60+DPD_F4M','BOUNCE_F4M'], index=['ORIGINATION_DATE'],aggfunc=np.sum)
# table1 = pd.pivot_table(OVERALL_BAD_RATE_TABLE, index=['ORIGINATION_DATE'], values='PROSPECTID',aggfunc=len)
# Bad_Rate_Table1 = pd.concat([table1,table],axis=1)
# Bad_Rate_Table1 = Bad_Rate_Table1.reset_index()
# del Bad_Rate_Table1['PROSPECTID']

In [ ]:
# Bad_Rate_Table1.head(5)

In [ ]:
# Bad_Rate_Table = pd.merge(Bad_Rate_Table, Bad_Rate_Table1, on=['ORIGINATION_DATE'])

In [ ]:
# Bad_Rate_Table

In [ ]:
# Bad_Rate_Table.to_csv("/home/salam/OOTData/Summarised_Bad_Rate_OOT_11052019.csv")

In [ ]:
# Bad_Rate_Table = Bad_Rate_Table.rename(columns={'PROSPECTID': 'Unique Applicatios(#)'})
# Bad_Rate_Table = Bad_Rate_Table.rename(columns={'30+DPD': '30+DPD(#)'})
# Bad_Rate_Table = Bad_Rate_Table.rename(columns={'60+DPD': '60+DPD(#)'})
# Bad_Rate_Table = Bad_Rate_Table.rename(columns={'BOUNCE': 'BOUNCE(#)'})
# #Bad_Rate_Table = Bad_Rate_Table.rename(columns={'BOU_STATUS+': 'BOU_STATUS+(#)'})
# Bad_Rate_Table['30+DPD(%)']  = Bad_Rate_Table['30+DPD(#)']/Bad_Rate_Table['Unique Applicatios(#)']
# Bad_Rate_Table['60+DPD(%)']  = Bad_Rate_Table['60+DPD(#)']/Bad_Rate_Table['Unique Applicatios(#)']
# Bad_Rate_Table['BOUNCE(%)'] = Bad_Rate_Table['BOUNCE(#)']/Bad_Rate_Table['Unique Applicatios(#)']
# #Bad_Rate_Table['BOU_STATUS+(%)'] = Bad_Rate_Table['BOU_STATUS+(#)']/Bad_Rate_Table['Unique Applicatios(#)']

In [ ]:
# print(Bad_Rate_Table)

In [ ]:
# Bad_Rate_Table.to_csv("Summarised_Bad_Rate_OOT_25042019.csv")

In [ ]:
######################  Vintage Analysis

In [ ]:
# VINTAGE_DATA_30 = FINAL_DF_DATA_2[FINAL_DF_DATA_2['30+DPD'] == 1]
# VINTAGE_DATA_60 = FINAL_DF_DATA_2[FINAL_DF_DATA_2['60+DPD'] == 1]
# VINTAGE_DATA_B = FINAL_DF_DATA_2[FINAL_DF_DATA_2['BOUNCE+'] == 1]

In [ ]:
# VINTAGE_DATA_30 = VINTAGE_DATA_30.sort_values(by = ['PROSPECTID','CUTDATE'],ascending = [True,True])
# VINTAGE_DATA_30 = VINTAGE_DATA_30.reset_index()
# del VINTAGE_DATA_30['index']
# VINTAGE_DATA_30 = VINTAGE_DATA_30.drop_duplicates(subset='PROSPECTID', inplace=False)

# VINTAGE_DATA_60 = VINTAGE_DATA_60.sort_values(by = ['PROSPECTID','CUTDATE'],ascending = [True,True])
# VINTAGE_DATA_60 = VINTAGE_DATA_60.reset_index()
# del VINTAGE_DATA_60['index']
# VINTAGE_DATA_60 = VINTAGE_DATA_60.drop_duplicates(subset='PROSPECTID', inplace=False)

# VINTAGE_DATA_B = VINTAGE_DATA_B.sort_values(by = ['PROSPECTID','CUTDATE'],ascending = [True,True])
# VINTAGE_DATA_B = VINTAGE_DATA_B.reset_index()
# del VINTAGE_DATA_B['index']
# VINTAGE_DATA_B = VINTAGE_DATA_B.drop_duplicates(subset='PROSPECTID', inplace=False)

In [ ]:
# table1 = table1.reset_index()

In [ ]:
########## BOUNCE
# table_mob1 = pd.pivot_table(VINTAGE_DATA_B, values=['BOUNCE+'], index=['ORIGINATION_DATE','MOB'],aggfunc=np.sum)
# table_mob1 = table_mob1.reset_index()
#table_mob1s = pd.DataFrame(table_mob1['BOUNCE+'])

In [ ]:
########## 60+
# table_mob2 = pd.pivot_table(VINTAGE_DATA_60, values=['60+DPD'], index=['ORIGINATION_DATE','MOB'],aggfunc=np.sum)
# table_mob2 = table_mob2.reset_index()
#table_mob2s = pd.DataFrame(table_mob2['60+DPD'])

In [ ]:
########## 30+
# table_mob3 = pd.pivot_table(VINTAGE_DATA_30, values=['30+DPD'], index=['ORIGINATION_DATE','MOB'],aggfunc=np.sum)
# table_mob3 = table_mob3.reset_index()

In [ ]:
# vintage_Data1 = pd.merge(table_mob1, table_mob2, on=['ORIGINATION_DATE','MOB'])

In [ ]:
# vintage_Data1 = pd.merge(vintage_Data1, table_mob3, on=['ORIGINATION_DATE','MOB'])

In [ ]:
# table2 = table1[['ORIGINATION_DATE','PROSPECTID']]
# table2

In [ ]:
# vintage_Data1 = pd.merge(table2, vintage_Data1, on='ORIGINATION_DATE')

In [ ]:
# vintage_Data2 = vintage_Data1[((vintage_Data1.ORIGINATION_DATE == '2018_05') | (vintage_Data1.ORIGINATION_DATE == '2018_06') | (vintage_Data1.ORIGINATION_DATE == '2018_07') | (vintage_Data1.ORIGINATION_DATE == '2018_08') | (vintage_Data1.ORIGINATION_DATE == '2018_09') | (vintage_Data1.ORIGINATION_DATE == '2018_04'))]

In [ ]:
# df1 = vintage_Data2[(vintage_Data2.ORIGINATION_DATE == '2018_05')] 
# df1['cumsum_30+DPD'] = np.cumsum(df1['30+DPD'])
# df1['cumsum_60+DPD'] = np.cumsum(df1['60+DPD'])
# df1['cumsum_BOUNCE'] = np.cumsum(df1['BOUNCE+'])

In [ ]:
# df2 = vintage_Data2[(vintage_Data2.ORIGINATION_DATE == '2018_06')] 
# df2['cumsum_30+DPD'] = np.cumsum(df2['30+DPD'])
# df2['cumsum_60+DPD'] = np.cumsum(df2['60+DPD'])
# df2['cumsum_BOUNCE'] = np.cumsum(df2['BOUNCE+'])

In [ ]:
# df3 = vintage_Data2[(vintage_Data2.ORIGINATION_DATE == '2018_07')] 
# df3['cumsum_30+DPD'] = np.cumsum(df3['30+DPD'])
# df3['cumsum_60+DPD'] = np.cumsum(df3['60+DPD'])
# df3['cumsum_BOUNCE'] = np.cumsum(df3['BOUNCE+'])

In [ ]:
# df4 = vintage_Data2[(vintage_Data2.ORIGINATION_DATE == '2018_08')] 
# df4['cumsum_30+DPD'] = np.cumsum(df4['30+DPD'])
# df4['cumsum_60+DPD'] = np.cumsum(df4['60+DPD'])
# df4['cumsum_BOUNCE'] = np.cumsum(df4['BOUNCE+'])

In [ ]:
# df5 = vintage_Data2[(vintage_Data2.ORIGINATION_DATE == '2018_09')] 
# df5['cumsum_30+DPD'] = np.cumsum(df5['30+DPD'])
# df5['cumsum_60+DPD'] = np.cumsum(df5['60+DPD'])
# df5['cumsum_BOUNCE'] = np.cumsum(df5['BOUNCE+'])

In [ ]:
# df6 = vintage_Data2[(vintage_Data2.ORIGINATION_DATE == '2018_04')] 
# df6['cumsum_30+DPD'] = np.cumsum(df6['30+DPD'])
# df6['cumsum_60+DPD'] = np.cumsum(df6['60+DPD'])
# df6['cumsum_BOUNCE'] = np.cumsum(df6['BOUNCE+'])

In [ ]:
# df1

In [ ]:
# vintage_Data_Final = pd.concat([df1,df2,df3,df4,df5,df6],axis=0)

In [ ]:
# vintage_Data_Final

In [ ]:
# vintage_Data_Final['cumsum_30+DPD(%)'] = vintage_Data_Final['cumsum_30+DPD']/vintage_Data_Final['PROSPECTID']

In [ ]:
# vintage_Data_Final['cumsum_60+DPD(%)'] = vintage_Data_Final['cumsum_60+DPD']/vintage_Data_Final['PROSPECTID']

In [ ]:
# vintage_Data_Final['cumsum_BOUNCE(%)'] = vintage_Data_Final['cumsum_BOUNCE']/vintage_Data_Final['PROSPECTID']

In [ ]:
# vintage_Data_Final

In [ ]:
# vintage_Data_Final.to_csv('vintage_Data_Final_25042019.csv')